.image_container{
    
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid transparent;
    padding: 0.5%;
    margin: 3%;
    z-index: 1;
    background-color: white;
    border-radius: 2.375rem;
    background: #FFF;
    box-shadow: 35px 35px 100px 87px rgba(0, 0, 0, 0.25), -2.5px -2.5px 50px 10px rgba(255, 255, 255, 0.90);
    height: fit-content;
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .image_container {
        width: 70%;
        margin: 2%;
    }
}

/* Adjustments for laptops and larger screens */
@media (min-width: 1024px) {
    .image_container {
        width: 80%;
        margin: 1%;
    }
}


@media (min-width: 1440px) {
    .image_container {
        width: 70%;
        margin: 0.5%;
    }
}

@media (max-width: 767px) {
    .image_container {
        display: flex;
    justify-content: center;
    align-items: center;
        width: 90%;
        margin: 3% auto;
    }
}


.vault{
    margin-left: 5%;
    width: 40%;
    height: 40%;
}

@media (max-width: 767px) {
    .vault {
        width: 50%;
        padding: 2%;
    }

}

@media (min-width: 768px) {
    .vault {
        width: 40%; 
        height: 40%;
    }
}

.register_box{
    border-radius: 2.375rem;
    background: #FFF;
    box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.25), -2.0px -2.0px 10px 10px rgba(255, 255, 255, 0.90);
    margin-right: 5%;
}

@media (max-width: 767px) {
    .register_box {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width: 768px) {
    .register_box {
        border-radius: 2.375rem;
        background: #FFF;
        box-shadow: 35px 35px 100px 10px rgba(0, 0, 0, 0.25), -15px -15px 40px 10px rgba(255, 255, 255, 0.90);
        margin-right: 5%;
    }
}

.hover:hover{
    background-color: #61498B;
    color: white;
}