.footer_logo{
    font-size: 2.2rem;
}

.footer_box{
    position: relative;
    background-color: white;
    border-radius: 2.375rem;
    background: #61498B;
    color: white;
    fill: #61498B;
    filter: drop-shadow(15px 15px 20px rgba(12, 8, 58, 0.25)) drop-shadow(-15px -15px 20px rgba(12, 8, 58, 0.90));
    width: 100%; /* Use 100% width for smaller screens */
    padding: 2%;
    padding-top: 2%;
    margin-top: 2%;
    height: fit-content;
    flex-shrink: 0;
    padding: 2%;
    padding-top: 2%;
    margin-top: 2%;
 
}


.left {
    margin-left: 5%;
  }

.list{
    list-style: none;
}

.columns{
    display: flex;
    /* flex-direction: column; */
    gap: 2%;
}

@media (max-width: 768px) {
    .footer_box {
        padding: 1%;
        border-radius: 1.875rem;
    }
    .left {
        margin-left: 2%;
    }

    .columns{
        gap: 1%;
    }

    .right{
        margin: 0;
        left: -20px;
        margin-left: -18%;
        margin-top: 5%;
    }
}

@media (max-width: 576px) {
    .footer_box {
        padding: 0.1%;
        border-radius: 1.25rem;
    }

    .columns{
        gap: 1%;
    }
    .left {
        margin-left: 2%;
    }
    .right{
        margin: 0;
        margin-left: -18%;
        margin-top: 5%;
    }
}







