body{
    padding: 0rem;
}

.intro{
    padding-left: 4%;
    padding-top: 3%;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.block{
    width: 40%;
    height: 25%;
}

.header_logo{
    font-size: 2.5rem;
}

.box{
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 35px 35px 100px 10px rgba(0, 0, 0, 0.25), -20px -20px 100px 10px rgba(255, 255, 255, 0.90);
    width: 90%;
    max-width: 800px;
    height: fit-content;
    flex-shrink: 0;
    padding: 2%;
    padding-top: 1%;
    margin: 2%;
}

@media (max-width: 768px) {
    .box {
        width: 95%; /* Reduce the width for smaller screens */
    }
}

@media (max-width: 576px) {
    .box {
        width: 100%;
        margin: 5%;
        border-radius: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .box {
      max-width: 90%;
    }
  }
  
  @media (max-width: 767px) {
    .box {
      width: 90%; 
      max-width: 100%;
      min-width: auto; 
      box-shadow: 2rem 2rem 5rem 1rem rgba(0, 0, 0, 0.25), -1rem -1rem 5rem 0.5rem rgba(255, 255, 255, 0.90);
    }
  }
  

.circle{
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    fill: #61498B;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: -1;
}

@media (max-width: 768px) {
    .circle {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 576px) {
    .circle {
        width: 90px;
        height: 90px;
    }
}

.circle1 {
    position: absolute;
    top: -8%;
    left: -3%;
    border-radius: 50%; 
}

@media (max-width: 768px) {
    .circle1 {
        top: -8%;
        left: -10%;
    }
}

@media (max-width: 576px) {
    .circle1 {
        top: -8%;
        left: -10%;
    }
}

.create{
    width: 25%;
    height: 10%;
    flex-shrink: 0;
    border: transparent;
    border-radius: 50px;
    background: #61498B;
    box-shadow: 35px 35px 100px 10px rgba(0, 0, 0, 0.25), -35px -35px 100px 10px rgba(255, 255, 255, 0.90);
    position: absolute;
    bottom: -15px;
    left: 70%;
    padding: 3%;
    padding-bottom: 5%;
    z-index: 1;
}

@media (max-width: 768px) {
    .create {
        width: 30%;
        height: 8%;
        left: 10%;
        bottom: -10px;
    }
}

@media (max-width: 576px) {
    .create {
        width: 40%;
        height: 6%;
        display: flex;
        transform: translateX(-110%);
    }
}

.features-parent{
    /* border: 2px solid transparent; */
    width: 70%;
    position: relative;
    display: inline-block; 
    justify-content: start;
    margin-top: 5%;
    margin-left: 15%;
}

@media (max-width: 768px) {
    .features-parent {
        margin-top: 5%; 
        margin-left: 1%; 
    }
}

@media (max-width: 576px) {
    .features-parent {
        width: 90%;
        height: fit-content;
        margin-top: 5%; 
        margin-left: 1%; 
    }
}

.features{
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .features {
        font-size: 1rem;
        padding: 10px;
    }
}

@media (max-width: 57){
    .features {
        font-size: 0.9rem;
        padding: 5px;
    }
}

.view{
    min-width: fit-content;
    width: 100%;
    height: fit-content;
    padding: 10%;
    margin: 2%;
    flex-shrink: 0;
    border: 2px solid transparent;
    border-radius: 2.375rem;
    background: #61498B;
    box-shadow: 35px 35px 100px 10px rgba(0, 0, 0, 0.25), -35px -35px 100px 10px rgba(255, 255, 255, 0.90);
    margin: 6%;
}

.manage{
    margin-left: 90%;
}

@media (max-width: 768px) {
    .view {
        width: 90%; 
        height: 8%; 
        border-radius: 1.875rem; 
        margin: 3
    }
}

@media (max-width: 576px) {
    .view {
        width: 95%; 
        height: 6%; 
        border-radius: 1.25rem; 
        margin: 2%;
    }
}

.view_evault{
    flex-wrap: wrap;
    border: 2px solid transparent;
    margin: 3%;
    padding: 3%;
    width: 80%;
    padding-left: 6%;
    padding-right: 3%;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .view_evault {
      width: 90%;
      padding-left: 3%;
      padding-right: 3%;
    }
  }

  @media (max-width: 576px) {
    .view_evault {
        margin-bottom: 60%;
      width: 90%;
      padding-left: 3%;
      padding-right: 3%;
    }
  }

.tilted_vault{
    width: 18rem;
    height: 16rem;
}

@media (max-width: 768px){
    .tilted_vault{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 576px){
    .tilted_vault{
        display: flex;
        flex: end;
    }
}

.why_parent{
    position: relative;
    display: inline-block; 
    justify-content: start;
    margin-top: 0%;
    margin-left: 5%;
    /* border: 2px solid transparent; */
    width: 70%;
}

@media (max-width: 768px) {
    .why_parent {
        width: 90%;
        margin-top: 5%;
    }
}

/* Mobile devices */
@media (max-width: 576px) {
    .why_parent {
        width: 95%; 
        margin-top: 20;
    }
}

.why{
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    width: 90%;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .why {
        width: 95%; 
        font-size: 1.2rem; 
        padding: 10px;
    }
}

/* Mobile devices */
@media (max-width: 576px) {
    .why {
        
        width: 100%; /* Adjust the width for mobile devices */
        font-size: 1rem; /* Adjust font size for mobile devices */
        padding: 5px; /* Adjust padding for mobile devices */
    }
}

.circle2{
    position: absolute;
    top: -25px;
    left: -25px;
}

.works_parent{
    /* border: 2px solid transparent; */
    width: 70%;
    position: relative;
    display: inline-block; 
    justify-content: start;
    margin-top: 4%;
    margin-left: 20%;
}

.works{
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    width: 55rem;
    font-size: 1.3rem;
}

.circle4{
    position: absolute;
    top: 220px;
    left: -50px;
}

.circle5{
    position: absolute;
    top: -10%;
    left: 88%;
}

@media (max-width: 768px) {
    .create {
        left: 17rem;
      }

    .features{
        width: 27rem;
        font-size: 1rem;
    }

    .view {
        width: 11.375rem;
        height: 3.75rem;
    }
  
    .view_evault {
        width: 13rem;
        height: 12rem;
        padding: 1rem;
        font-size: 1.2rem;
      text-align: center; /* Center text content */
    }
  
    .tilted_vault {
      width: 100%; /* Make it full width on smaller screens */
      height: auto; /* Allow height to adjust based on content */
    }

    .why{
        width: 27rem;
        font-size: 1rem;
    }

    .works{
        width: 27rem;
        font-size: 1rem;
    }

    .circle2 {
        position: absolute;
        top: -15px; /* Adjust positioning for smaller screens */
        left: -40px; /* Adjust positioning for smaller screens */
    }

    .circle4{
        position: absolute;
        top: 220px;
        left: -50px;
    }
}

